/gdlmmconfig.h
/gdlmm-*.pc
/gdlmm/dock.cc
/gdlmm/dock.h
/gdlmm/dockbar.cc
/gdlmm/dockbar.h
/gdlmm/dockitem.cc
/gdlmm/dockitem.h
/gdlmm/docklayout.cc
/gdlmm/docklayout.h
/gdlmm/dockmaster.cc
/gdlmm/dockmaster.h
/gdlmm/dockobject.cc
/gdlmm/dockobject.h
/gdlmm/dockplaceholder.cc
/gdlmm/dockplaceholder.h
/gdlmm/wrap_init.cc
/src/.stamps
